<div class="container">
  <br />
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <form class="card card-sm tw-bg-transparent tw-border-1 tw-border-main-text">
        <div class="card-body row no-gutters align-items-center">
          <div class="col-auto">
            <i class="fas fa-search h4 text-body"></i>
          </div>
          <!--end of col-->
          <div class="col">
            <input class="form-control form-control-lg form-control-borderless tw-bg-info tw-placeholder-main-text tw-border-main-text" type="search"
              placeholder="Search topics or keywords">
          </div>
          <!--end of col-->
          <div class="col-auto">
            <button class="btn btn-lg tw-bg-success tw-text-main-text" type="submit">Search</button>
          </div>
          <!--end of col-->
        </div>
      </form>
    </div>
    <!--end of col-->
  </div>
</div>
<br />
<div class="tw-grid lg:tw-grid-cols-3 md:tw-grid-cols-2 sm:tw-grid-cols-1 tw-gap-4">
  <app-card-view *ngFor="let item of listCats; trackBy: trackByData" [data]="item" (clickedDetail)="showDetail($event)" [showDetailButton]="true"></app-card-view>
</div>